extends layouts/template
append config
	-currentPage = 'Apertura de chapas y cerraduras'
	-currentUrl = 'apertura-de-chapas-y-cerraduras'
	-
		gallery = [
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-01-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-01-full.jpg`,
				text:'¿Perdiste tus llaves? Podemos crear nuevas llaves para ti! En LLAVES SANTA CRUZ estamos para solucionar su problema, contáctenos hoy.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-02-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-02-full.jpg`,
				text:'Nuestros profesionales de cerrajería puede abrir su chapa si sus llaves quedaron adentro, arregle cerraduras que no funcionen.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-03-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-03-full.jpg`,
				text:'Si olvidó las llaves dentro de su vehículo y no tiene copias no lo dude más LLAVES SANTA CRUZ esta para ayudarle, tenemos servicio express.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-04-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-04-full.jpg`,
				text:'Somos especialistas en extracción de llaves rotas, tenemos los equipos adecuados. Llámenos - ¡Nos encanta ayudar a nuestros clientes!'
			},
		
			
		]
block main
	.l-85.rex-item.rex-container.to-center
		.rex-item.l-block
		.rex-item
				h1.title.center= currentPage.toUpperCase()
		.rex-item.l-block
			.gallery
				- for (let i = 0; i < gallery.length; i++)
					- let g = gallery[i]
						div
							.case(style= `background-image: url(${g.src});`)
								figure
								//- img.case__img(src='assets/svg/llaves-logo.svg', alt='')
								.case__overlay
									h2.case__title= g.title
									a.case__link(href= g.full)
										| Ver 
										i.icon-zoom
							p.case-text= g.text
								