extends layouts/template
append config
	-currentPage = 'Cambios de combinación'
	-currentUrl = 'cambios-de-combinacion'
	-
		gallery = [
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-01-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-01-full.jpg`,
				text:'¿Bloqueado? Permítanos ayudarlo a volver a su hogar abriendo la puerta. Ofrecemos apertura de emergencia.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-02-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-02-full.jpg`,
				text:'Si olvidó la combinación de la apertura de alguna cerradura, LLAVES SANTA CRUZ es el indicado para arreglar su problema '
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-03-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-03-full.jpg`,
				text:'La cerradura tiene problemas o el código no funciona, Contactenos, estamos para ayudarle de la manera más profesional.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-04-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-04-full.jpg`,
				text:'Tenemos los equipos y el conocimiento necesario para abrir cualquier cerradura electrónica del que haya perdido su combinación '
			}
		]
block main
	.l-85.rex-item.rex-container.to-center
		.rex-item.l-block
		.rex-item
				h1.title.center= currentPage.toUpperCase()
		.rex-item.l-block
			.gallery
				- for (let i = 0; i < gallery.length; i++)
					- let g = gallery[i]
						div
							.case(style= `background-image: url(${g.src});`)
								figure
								//- img.case__img(src='assets/svg/llaves-logo.svg', alt='')
								.case__overlay
									h2.case__title= g.title
									a.case__link(href= g.full)
										| Ver 
										i.icon-zoom
							p.case-text= g.text
								