extends layouts/template
append config
	-currentPage = 'Copia de llaves'
	-currentUrl = 'copia-de-llaves'
	-
		gallery = [
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-01-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-01-full.jpg`,
				text:'¿Necesitas tener varias copias tus llaves? Ya sea en nuestros talleres o a domicilio podemos realizar las cantidad de copias del cualquier tipo de llave que necesites.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-02-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-02-full.jpg`,
				text:'Puedes visitarnos en nuestros talleres, técnicos especialistas realizarán la copia de la llave que usted necesite, realizamos copia de cualquier modelo.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-03-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-03-full.jpg`,
				text:'Si se presenta una emergencia, ponemos a su disposición nuestro servicio de copia de llaves a domicilio. Nos trasladamos con equipo hasta donde usted nos necesite.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-04-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-04-full.jpg`,
				text:'¿Tienes tu llave pero la cerradura no se abre? en LLAVES SANTA CRUZ podemos reparar, reemplazar e instalar cerradura. Podemos obtener una nueva llave para usted.'
			}
		]
block main
	.l-85.rex-item.rex-container.to-center
		.rex-item.l-block
		.rex-item
				h1.title.center= currentPage.toUpperCase()
		.rex-item.l-block
			.gallery
				- for (let i = 0; i < gallery.length; i++)
					- let g = gallery[i]
						div
							.case(style= `background-image: url(${g.src});`)
								figure
								//- img.case__img(src='assets/svg/llaves-logo.svg', alt='')
								.case__overlay
									h2.case__title= g.title
									a.case__link(href= g.full)
										| Ver 
										i.icon-zoom
							p.case-text= g.text
								