extends layouts/template
append config
	-currentPage = 'Duplicado de llaves para vehículos'
	-currentUrl = 'duplicado-de-llaves-para-vehiculos'
	-
		gallery = [
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-01-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-01-full.jpg`,
				text:'Sabemos cuán dependientes somos con nuestro automóvil. En LLAVES SANTA CRUZ le ofrecemos servicios en cerrajería automotriz.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-02-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-02-full.jpg`,
				text:'Con las herramientas correctas, el conocimiento y la experiencia, nuestros técnicos puede abrir su automóvil si sus llaves quedaron adentro.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-03-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-03-full.jpg`,
				text:'Ofrecemos servicios dentro de la cerrajería automotriz como extracción de llaves rotas, reparación y reemplazo de cilindro de cerradura y mucho más.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-04-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-04-full.jpg`,
				text:'Hacemos las llaves del coche en el acto! Evite gastos en remolques, contáctenos. Tenemos servicios en cerrajeria automotriz express.'
			}
		]
block main
	.l-85.rex-item.rex-container.to-center
		.rex-item.l-block
		.rex-item
				h1.title.center= currentPage.toUpperCase()
		.rex-item.l-block
			.gallery
				- for (let i = 0; i < gallery.length; i++)
					- let g = gallery[i]
						div
							.case(style= `background-image: url(${g.src});`)
								figure
								//- img.case__img(src='assets/svg/llaves-logo.svg', alt='')
								.case__overlay
									h2.case__title= g.title
									a.case__link(href= g.full)
										| Ver 
										i.icon-zoom
							p.case-text= g.text
								