extends layouts/template
append config
	-currentPage = 'Inicio'
block banner
	include components/slider

	//- include components/flux-slider.html
block main
	include components/sidebar-scroll
	//- a(href= path_page + "stylesguide").button Ver guia de estilos
	section.section#section02.rex-item
		.rex-container
			.rex-item.l-50
				h1.title--.center
					| SERVICIO EXPRESS 
					img(src=path_media + "images/24.png", alt="24horas")
				.rex-item
					p.w3  Nuestro servicio se extiende todos los días de la semana, 24 horas del día con servicio a domicilio.
					p.cross-end.main-center
						span.inline.strong LLAMENOS o ESCRIBANOS: 
						span.inline
							span.t4
								| (+591) 
								span.t1 75353663
								i.icon-whatsapp.wap-1
			.rex-item.l-50
				h1.title--.center
					| CALIDAD EN SERVICIO
					//- img(src=path_media + "images/24.png", alt="24horas")
				.rex-item.main-center
					ul.feature-list.w4
						li Atención inmediata de emergencias
						li Responsabilidad, rapidez y confianza
						li Ayuda efectiva con soluciones que funcionan
						li 
							| ATENCIÓN PERMANENTE:<br>
							ul.data-list
								li 24 horas del día. Ayuda especial en las noches<br>
								li 7 días de la semana. Sucursal abierta de 8:00 a 22:00 hrs.<br>
								li Incluye: sábados, domingos y feriados<br>
						li Asesoramiento profesional y confiable
						li Ultimas técnicas de instalación, mantenimiento y reparación
	//- section.section--first#section03.rex-item
		.rex-container
			.rex-item.l-1-3
				
			.rex-item.l-1-3
				
			.rex-item.l-1-3
				
	section.section--second#section03.rex-item
		.rex-container
			.rex-item
				h1.title--first.center SERVICIO DE COPIA Y CLONADO DE LLAVES CON CHIPS
		.rex-container.main-distribute
			.rex-item.l-40
				.case(style= `background-image: url(assets/images/duplicado-de-llaves-para-vehiculos-04-full.jpg);`)
					figure
						//- img.case__img(src='assets/svg/llaves-logo.svg', alt='')
					.case__overlay
						h2.case__title COPIA DE LLAVES CON CHIPS
						a.case__link(href= "#")
							| Ver más
			.rex-item.l-40
				.case(style= `background-image: url(assets/images/llaves-con-chip-03-full.jpg);`)
					figure
						//- img.case__img(src='assets/svg/llaves-logo.svg', alt='')
					.case__overlay
						h2.case__title CLONADO DE LLAVES CON CHIPS
						a.case__link(href= "#")
							| Ver más
			//- p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident possimus dolores debitis, ipsa illum tempora explicabo velit incidunt rerum, hic maiores dolorum? Culpa eos, quidem excepturi vel numquam dolorum ipsum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore ratione ipsum repudiandae! Deleniti quas voluptatem quaerat, numquam aspernatur amet accusamus expedita laborum atque beatae reprehenderit illum placeat, unde iusto? Magni? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo cupiditate atque veritatis dolorum minima veniam corrupti deleniti voluptate quisquam sapiente eos laudantium aut, blanditiis, reiciendis nostrum consectetur. Cupiditate, quasi error.
			