extends layouts/template
append config
	-currentPage = 'Instalacion y reparación de cerraduras'
	-currentUrl = 'instalacion-y-reparacion-de-cerraduras'
	-
		gallery = [
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-01-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-01-full.jpg`,
				text: 'Instalamos cerraduras tradicionales en cualquier puerta o caja fuerte o el lugar donde lo necesite.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-02-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-02-full.jpg`,
				text: '¿Su cerradura ya esta fallando? no se quede afuera en el momento menos pensado, le arreglamos o instalamos nueva cerradura.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-03-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-03-full.jpg`,
				text: 'Quiere una cerradura electrónica, En LLAVES SANTA CRUZ tenemos los medios para instalar este tipo de cerraduras, no lo dude, Contáctenos.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-04-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-04-full.jpg`,
				text: 'ofrecemos llaves con chip y cerradura electrónica que aumenta la seguridad de su hogar o negocio o vehículo, estamos para ayudarle'
			}
		]
block main
	.l-85.rex-item.rex-container.to-center
		.rex-item.l-block
		.rex-item
				h1.title.center= currentPage.toUpperCase()
		.rex-item.l-block
			.gallery
				- for (let i = 0; i < gallery.length; i++)
					- let g = gallery[i]
						div
							.case(style= `background-image: url(${g.src});`)
								figure
								//- img.case__img(src='assets/svg/llaves-logo.svg', alt='')
								.case__overlay
									h2.case__title= g.title
									a.case__link(href= g.full)
										| Ver 
										i.icon-zoom
							p.case-text= g.text
								