extends layouts/template
append config
	-currentPage = 'Llaves con chip'
	-currentUrl = 'llaves-con-chip'
	-
		gallery = [
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-01-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-01-full.jpg`,
				text: 'Las llaves con chip brindan seguridad adicional a su automóvil. Contienen un chip muy pequeño que se utiliza para validar la llave original del auto.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-02-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-02-full.jpg`,
				text: 'Una llave con chip es necesaria para arrancar su automóvil. Si tiene que solicitar el reemplazo de la llave del automóvil, contactenos estamos para ayudarle.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-03-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-03-full.jpg`,
				text: 'Si opta por la sustitución de la llave del automóvil a una con chip, entonces necesita la programación de la llave del automóvil por parte de un experto como LLAVES SANTA CRUZ.'
			},
			{
				title: `${currentPage}`,
				src: `${path_media}images/${currentUrl}-04-thumb.jpg`,
				full: `${path_media}images/${currentUrl}-04-full.jpg`,
				text: 'Las llaves con chip surgió para Reducir el riesgo de robo de vehículos. Inicialmente los autos fueron robados con llaves duplicadas. No lo dude contátenos hoy.'
			}
		]
block main
	.l-85.rex-item.rex-container.to-center
		.rex-item.l-block
		.rex-item
				h1.title.center= currentPage.toUpperCase()
		.rex-item.l-block
			.gallery
				- for (let i = 0; i < gallery.length; i++)
					- let g = gallery[i]
						div
							.case(style= `background-image: url(${g.src});`)
								figure
								//- img.case__img(src='assets/svg/llaves-logo.svg', alt='')
								.case__overlay
									h2.case__title= g.title
									a.case__link(href= g.full)
										| Ver 
										i.icon-zoom
							p.case-text= g.text