extends layouts/template
append config
	-currentPage = 'Nosotros'
//- block banner
	include components/slider
	include components/flux-slider.html
block main
	.l-85.rex-item.rex-container.to-center
		.rex-item.l-block
		.rex-item
				h1.title.center= currentPage.toUpperCase()