.gallery{
  @include grid('.case',2 3 4 4);
}
.case {
  position: relative;
  display:block;
  width: 100%;
  margin:0 auto 2rem;
  background-size:cover;
  // background-size:contain;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  border-radius:10px;
  box-shadow:0px 10px 30px var(--dark-rgb-7);
  overflow:hidden;
  transition:all .4s ease;
  height: calc(50vw - (2 * 16px));
  @include from(m) { height: calc(33vw - (3 * 16px)); }
  @include from(l) { height: calc(25vw - (4 * 16px)); }
  @include from(xl) { max-height: 290px;
  }
}


  .case__img{
    width: 100%;
    display:block;
  	margin-top:50%;
    transform:translateY(70%);
    margin:0 auto;
  }


.case__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  z-index:10;
  &:after {
    content:'';
    width: 100%;
    border-radius:10px;
    height: 100%;
    background-color:  var(--dark-color);
    opacity:0;
    position: absolute;
    top:0;
    z-index:-10;
    left:0;
    transition:all .3s ease;
  }
}
  
  .case__title {
    position: relative;
    top:-200px;
    margin-bottom:2rem;
    margin-top:4rem;
    font-weight: 100;
    color:white;
    text-align: center;
    letter-spacing:5px;
    transition:all .3s cubic-bezier(.3, 0, 0, 1.3);
  }
  
  .case__link {
    position: relative;
    display:block;
    width:60%;
    top:200px;
    padding:10px;
    margin: 0 auto;
    font-family: 'Oswald';
    color:white;
    letter-spacing:3px;
    text-decoration: none;
    text-align: center;
    border:2px solid white;
    border-radius:3px;
    font-size: 1.25em;
    transition:all .3s cubic-bezier(.3, 0, 0, 1.3);
    &:hover {
      text-decoration: none;
      background-color: white;
      color: var(--dark-color);
    }
  }


.case:hover {
  
  .case__title{
    top:0;
  }
  .case__link{
    top:0;
  }
  
  .case__overlay:after{
    opacity:.75;
  } 
}
.case-text{
  text-align:justify;
}