.main-logo {
  width   : auto;
  height  : 100%;
  display : block;
  transition: .5s all;
  svg{
    width: 100%;
    height  : 100%;
    transition: .5s all;
    #mascota{
      animation-name: mascota;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
    @keyframes mascota {
      0%{

      }
      50%{
        transform: translateY(10px);
      }
      100%{
        transform: translateY(0);
      }
    }
  }
}
