.pre-footer{
  box-shadow: 0px 0px 10px var(--dark-color);
}
.main-footer {
  padding    : 0;
  padding-top: 1rem;
  margin-top : auto;
  background : var(--dark-color);
  color      : #FFF;
  font-size  : var(--small);
  a{
    color: #FFF;
  }
  .button--secondary{
    color: var(--second-light-2);
  }
  &__title{
    background: linear-gradient(var(--first-color), var(--first-light-1));
    text-align: center;
    color: var(--second-color);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    margin-bottom: 3px;
  }
  &--main{
    padding: 0 .2rem;
    .button{
      display: flex;
      justify-content: center;
      margin-bottom: 0;
      height: 3rem;
      padding: .2rem;
    }
  }
  p{
    margin-bottom: 1rem;
  }
}
body.Inicio{
  .main-footer {
    @include layoutIndex;
  }
}