.main-banner {
  background    : var(--first-color);
  color         : #FFF;
  position      : relative;

  // Separación del contenido
  padding-bottom: 1rem;
  height: 290px;
  @include from(m) { height: 350px; }
  @include from(l) { height: 490px; }
  @include from(l) { padding-bottom: 1.5rem }

  &.main-banner--secondary { background : var(--second-color)  }
  &.main-banner--tertiary  { background : var(--third-color)  }
  &.main-banner--accent    { background : var(--accent-color) }
  &.main-banner--dark      { background : var(--dark-color)   }
}

.main-banner__img {
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  object-fit : cover;
  @include to(m) { object-position: left; }
  // opacity    : .1;
}

.main-banner__data {
  position      : relative;
  text-align    : center;
  h1{
    display: inline;
    color: var(--second-color);
    text-transform: uppercase;
    text-shadow: 2px 1px 1px var(--first-color);
    background: var(--first-rgb-3);
    padding: 10px 10px;
  }
}

.main-banner__author {
  color: #fff;
  margin-top : -1.5rem;

  a {
    color: inherit;
  }

  &-img {
    width : 6rem;
    height : 6rem;
    border-radius : 50%;
    border : 2px solid;
    display : block;
    margin : 0 auto;
  }

  &-name {
    font-size : var(--small);
  }
}
