.main-header {
  height        : var(--header-height);
  border-bottom : 1px solid var(--border-color);
  display       : flex;
  background    : #FFF;
  position      : fixed;
  top           : 0;
  width         : 100%;
  left          : 0;
  z-index       : var(--z-fixed);
  transition    : .5s height;
  // clip-path     : polygon(0 0, 100% 0, 100% 100%, 60% 90%, 53% 100%, 44% 90%, 0 100%);
}
