.section, [class*="section--"]{
  padding: 2rem 0;
  margin: 0;
}
// sections variations
.section--first{
  background: var(--first-color);
}
.section--second{
  background: var(--second-color);  
}
.sidebar-section{
  z-index: var(--z-tooltip);
  position: fixed !important;
  top:65% !important;
  transform: translateY(-50%);
  left: 0;
  a{
    @include mainCenter;
    @include crossCenter;
    i{
      @include mainCenter;
      @include crossCenter;
      padding: .25rem;
      svg{ width: 25px;height: 45px;}
      @include from(m) {
        padding: .35rem;
        svg{ width: 35px;height: 55px;}
      }
      @include from(l) {
        padding: .5rem;
        svg{ width: 40px;}
      }
      transform: rotate(90deg);
      transition: .5s transform;
    }
    &.active{
      color: var(--accent-color);
      i{
        transform: rotate(0deg);
      }
    }
    &:hover,&:focus,&:active{
      outline: none;
      text-decoration: none;
    }
  }
  .menu-list{
    display: flex;
    flex-direction: column;
    background: var(--dark-rgb-7);
    border-radius: 0 10px 10px 0
  }
}
body.Inicio{
  .section, [class*="section--"]{
    @include layoutIndex;
  }
}