.header-links{
  position: relative;
}
$first: -1px 1px 1px var(--first-color);
@function makelongshadow($length,$angle) {
  $val: #{$first} ,0px 0px transparent;
  @for $i from 1 through $length {
    $val: #{$val}, #{$i}px -#{$i*$angle}px var(--border-color);
  }
  @return $val;
}
.slogan {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  text-transform: uppercase;
  left: 43%;
  top: 35%;
  font-weight: 700;
  @include showFrom(l);
  h2{
    position: relative;
    color: var(--second-color);
    span{
      @include from(l){        
        font-size: 1.2vw;
      }
      animation: slogan 10s infinite;
      display: block;
      transform-origin: top right;
      text-shadow: #{$first};
      // outline: none;
      // white-space: nowrap;
    }
  }
}

@keyframes slogan {
  0% {
    // text-shadow: makelongshadow(20,.4);
    transform: scale(1.5, 1.5);
  }
  60% {    
    text-shadow: #{$first};
    transform: scale(1.7, 1.7);
  }  
  100% {
    transform: scale(1.5, 1.5);
    // text-shadow: makelongshadow(20,.4);
  }
}