.title, [class*="title--"]{
  height:4rem;
  color: #FFF;
  text-shadow: 2px 1px 1px var(--second-color), -0px 1px 1px var(--first-color);
  background: linear-gradient(90deg, var(--second-dark-1),var(--second-rgb-3), var(--second-dark-1));
  border-radius: 10px 10px 0 0;
  @include crossCenter;
  @include mainCenter;
  img{
    padding: .3rem;
    width: 90px;
  }
}
.title--first { 
  background: linear-gradient(90deg, var(--first-dark-1),var(--first-light-8), var(--first-dark-1));
  color: var(--second-color);
  text-shadow: 2px 1px 1px var(--first-light-10), -0px 1px 1px var(--first-color);
}
.title--second   {  }
.title--tertiary {  }
.title--dark     {  }
.title--accent   {  }