$light:  #febbbb;
$medium: #fe9090;
$dark:   #ff5c5c;
$dark-v1: #c84848;
$text-color: #999;
$cta: #00c5a7;
.cards {
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
  height: 17em;
  padding: 1.5em;
  position: relative;
  transition: height 0.4s, box-shadow 0.5s;
  
  &:hover {
    box-shadow: 0 0 2em #999;
    height: 38em;
    transition: height 0.3s ease, box-shadow 0.5s ease;
    
    .divider {
      opacity: 0.5;
    }
    
    .info {
      transition: top 0.5s ease, opacity 1s ease;
      visibility: visible;
      top: 1%;
      opacity: 1;
      .divider {
        //opacity: 1;
      }
    }
    .icon {
      font-size: 2em;
      left: 45%;
      transition: font-size .3s, left .3s;
    }
  }

  .info {
    position: relative;
    visibility: hidden;
    top: -50%;
    opacity: 0;
  }
  
  .icon {
    color: $light;
    font-size: 4em;
    text-align: center;
    //text-shadow: 0 -1px 0 $dark-v1;
    padding: 0em;
    position: relative;
    left: 43%;
    top: 0em;
    transition: font-size .3s ease, left .3s ease;
  }
  
  .title {
    color: $text-color;
    text-align: center;
    font-weight: 300;
  }
  .lead {
    color: $text-color;
    font-weight: 100;
    font-size: 2em;
    text-align: center;
    hyphens: auto;
  }
  .btn {
    color: $cta;
    border: 1px solid $cta;
    border-radius: 3px;
    transition: color 0.3s, background 0.3s;
    &:hover {
      background: $cta;
      color: #fff;
      transition: background 0.5s ease;
    }
  }
}