- var currentPage = 'Inicio'
- var currentUrl = 'inicio'
- var siteName = 'LLAVES SANTA CRUZ'
- var slogan = 'Copia de llaves con chip y apertura de cerraduras'
- let description = `Llaves con chip, copia de llaves a domicilio y en taller, duplicado de llaves para autos livianos, camiones, transporte pesado, maquinaria pesada. Apertura de chapas y cerraduras para autos, casas, departamentos, puertas de garaje, cerraduras eléctricas, candados, chapas de seguridad, cajas fuertes. Codificación y decodificación de llaves. Instalación y reparación de cerraduras en chapas normales, de seguridad y alta seguridad.`

//-Site Version
- var siteVersion = '1.6.8'

//- Root images/svg
- var path_media = '/assets/'

//- Root pages
- var path_page = '/'

//- Gallerys
- let gallery = []