td [class*="button"] {
  display: inline;

  &:last-child {
    margin-right : 0;
  }
}
.made-in{
  opacity: .28;
  &:hover{
    opacity: 1;
  }
}
.inline{
  display: inline-block;
  padding-right: .5rem;
}

.f24{
  display: flex;
}
//.f24::before{
  //content: '';
  //display: inline;
  //background: url(../images/24.png);
  //background-size: 50px;
  //width: 50px;
  //height: 50px;
//}
.img24{
  width: 108px;
  height: 108px;
  padding: 0.4rem;
}