<vue-flux
  :options="fluxOptions"
  :images="fluxImages"
  :transitions="fluxTransitions"
  :captions="fluxCaptions"
  ref="slider">
  <flux-controls slot="controls" :slider="$refs.slider"></flux-controls>
  <flux-index slot="index" :slider="$refs.slider"></flux-index>
  <flux-pagination slot="pagination" :slider="$refs.slider"></flux-pagination>
</vue-flux>
<!-- 
<button @click="$refs.slider.showImage('previous')">PREV</button>
<button @click="$refs.slider.toggleAutoplay()">PLAY</button>
<button @click="$refs.slider.showImage('next')">NEXT</button> -->