section.pre-footer.section#section04.rex-item
  .rex-container
    .main-footer--main.rex-item.l-1-6.m-1-3(v-for="item in mainmenu")
      a.button.rex-item.t4.cross-center(:href="`${item.href}.html`")
        span(v-text="item.title")
      ul.feature-list(v-for="subitem in item.submenu")
        li: a(:href="`${item.href}.html`" v-text="subitem.title")

footer.main-footer
  .rex-container
    //- .rex-item.l-45.m-100.s-100.main-footer__item
      h3.main-footer__title Productos
      .main-footer__content
        ul.feature-list.rex-container
          li.rex-item.l-50(v-for="item in mainmenu")
            a(v-if="item.submenu == null" :href="item.href" v-text="item.title")
            a(v-else :href="item.href" v-text="item.title + ': '")
            template(v-for="subitem in item.submenu")
              a(:href="subitem.href" v-text="' - ' + subitem.title")
    .rex-item.l-75.s-100.main-footer__item
      h3.main-footer__title #{siteName} - Bolivia
      .main-footer__content
        div.f24
          img(src="assets/images/24.png").img24
          ul.data-list
            li
              p
                b CENTRAL: 
                | Zona Sur - El Bajío, 
                span.inline Av. Jerusalem 
                | #370 casi 
                span.inline Calle 13.
                span.inline
                  b Telf: 
                  span.t3 3500614
              p
                span
                  a.button--secondary.button--small(href="contactos.html") 
                    | Ver mapa
                    i.icon-marker
            li
              p
                b SUCURSAL: 
                | Av. Lucas Saucedo, 3°Anillo interno, Mercado Mutualista, PB, 
                span.inline Pasillo 9, 
                span.inline Módulo 9.
              p
                span
                  a.button--secondary.button--small(href="contactos.html") 
                    | Ver mapa
                    i.icon-marker 
        p.center
          //- span.inline
          //-   b Telf: 
          //-   span.t3 3500614
          //- span.inline
          //-   span.t3
          //-     | (+591) 75353663
          //-     i.icon-whatsapp 
            //- p
              span
                a.button--secondary.button--small(href="contactos.html") 
                  | Ver mapa
                  i.icon-marker 
    .rex-item.l-25.s-100.main-footer__item
      //- h3.main-footer__title Siguenos en:
      .main-footer__content.main-center.cross-center
        ul.social
          li: a.icon-whatsapp(href="https://api.whatsapp.com/send?phone=59175353663" target="_blank")
          li: a.icon-facebook(href="" target="_blank")
          li: a.icon-youtube(href="" target="_blank")
        p.center También puede contactarnos a:
          br 
          a(href="javascript:void(0)" target="_blank") info@llavessantacruz.com
          span.inline
            span.t3
              | . (+591) 75353663
              i.icon-whatsapp 
  .rex-container
    .rex-item.l-100.main-footer__item
      hr  
      .main-footer__content.main-distribute.cross-center
        p Todos los Derechos Reservados ® 
          b #{siteName} 
          | © 
          span#currentDate
        p: a.made-in(href='//ahpublic.com', target='_blank') Diseño y Programación: Ah! Publicidad
