header.main-header#header
  .rex-container.full
    .rex-item.s-80.l-30.cross-center
      a(href= path_page + "")
        //- img(src= path_media + 'images/LlavesSantaCruz-Logo.png').main-logo
        .main-logo
          include ../svg/llaves-logo.svg
    .rex-item.s-20.l-70.cross-center.main-end.header-links
      .slogan
        h2.t4
          span= `${slogan}`
      nav.main-menu#main-menu
        ul.menu-inicio
          li(v-for = "item in menuinicio")
            a.button--small.button--ghost--second.item-inicio(:href="path_page + item.href")
              i(:class="item.icon")
              span(v-text="item.title")
        .horas-slogan
          img(src= path_media + "images/24.png", alt="24 horas")
          span.inline
            span.t4
              | (+591) 
              span.t1 75353663
              i.icon-whatsapp 
        ul.menu
          li(v-for = "item in mainmenu")
            a(:href="path_page + item.href + '.html'")
              button.t5.button--second(v-text="item.title")
      .main-menu-toggle.to-l#main-menu-toggle