div(class="sidebar-section")
  scrollactive(class="menu-list" active-class="active" :offset="-135")
    a(class="scrollactive-item" href="#section01")
      i
        include ../svg/key.svg
    a(class="scrollactive-item" href="#section02")
      i
        include ../svg/key.svg
    a(class="scrollactive-item" href="#section03")
      i
        include ../svg/key.svg
    a(class="scrollactive-item" href="#section04")
      i
        include ../svg/key.svg