include ../mixins/main-banner
//- .slider-next.button NEXT
//- .slider-prev.button PREV
.rex-container(style= "display:none;")
  .slider-prev <i class="icon-left"></i>
  .slider-next <i class="icon-right"></i>
.rex-slider#section01
  +banner("assets/images/slides/slide01-full.png",  'Llaves con chip', '', '', false, false)
  +banner("assets/images/slides/muestra02-full.png",  'Copia de llaves', '' + '', '', false, false)
  +banner("assets/images/slides/slide03-full.png",  'Duplicado de llaves para vehículos', '' + '', '', false, false)
  +banner("assets/images/slides/slide04-full.png",  'Apertura de chapas y cerraduras', '' + '', '', false, false)
