// This file doesn't generate any css
@mixin button {
  display         : inline-block;
  padding         : .7em .5em;
  background      : linear-gradient(90deg,var(--first-color), var(--first-light-2), var(--first-color));
  color           : #FFF;
  margin-right    : .2rem;
  cursor          : pointer;
  text-decoration : none;
  border-radius   : .25rem;
  transition      : transform .05s;
  border          : none;
  text-align      : center;

  &:hover {
    background      : var(--first-color-alt);
    text-decoration : inherit;
  }

  &:active {
    transform : scale(.99)
  }
}

@mixin button-small {
  padding : .2rem .4rem;
  font-size: var(--small);
}

@mixin button-center {
  display     : table;
  margin-left  : auto;
  margin-right : auto;
}

@mixin button-full {
  margin-right : 0;
  margin-left  : 0;
  width        : 100%;
}

@mixin button-last {
  margin-right: 0;
}

@mixin button-second {
  background : linear-gradient(90deg, var(--second-light-2), var(--second-color), var(--second-light-1));

  &:hover {
    background : var(--second-color-alt);
  }
}

@mixin button-alert {
  background : var(--third-color);

  &:hover {
    background : var(--third-color-alt);
  }
}

@mixin button-cta {
  background : var(--accent-color);

  &:hover {
    background : var(--accent-color-alt);
  }
}

@mixin button-ghost {
  color      : var(--first-color);
  background : none;
  border     : 1px solid;

  &:hover {
    background   : var(--first-color);
    color        : #FFF;
    border-color : transparent;
  }
}

@mixin button-ghost-second {
  color : var(--second-color) ;

  &:hover {
    background : var(--second-color);
    color      : var(--first-color);
  }
}

@mixin button-ghost-alert {
  color : var(--third-color);

  &:hover {
    background : var(--third-color);
    color      : #FFF;
  }
}

@mixin button-ghost-cta {
  color : var(--accent-color);

  &:hover {
    background : var(--accent-color);
    color      : #FFF;
  }
}
