@mixin clearMenu {
  list-style    : none;
  margin-top    : 0;
  margin-bottom : 0;
  padding-left  : 0;
  margin-left   : 0;
}

@mixin widget {
  border     : 1px solid var(--border-color);
  box-shadow : 0 1px 2px rgba(#000,.1);
  background : #fff;
}

@mixin round {
  border-radius : 0.25rem;
}

@mixin radius {
  border-radius : 1.5rem;
}

@mixin circle {
  border-radius : 50%;
}

@mixin layoutIndex { 
  padding-right: rem(15px);
  @include fromTo(l,xl){
    padding-left: 6%;
  }
  @include fromTo(m,l){
    padding-left: rem(55px);
  }
  @include to(m){
    padding-left: rem(40px);
  }
}
